---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About me site"
	pubDate={new Date('March 28 2025')}
	heroImage="/mina.jpg"
>
	<p>
		My name is Satu Palviainen, and I'm a second year software development student at OAMK. 
	</p>

	<p>
		I spend my free time training my dogs in various sports, at the gym or in the forest. I love to read and
		spend time with friends.
		
	</p>

	
</Layout>
