---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello, there</h1>
			<p>
				Welcome to the testpage of my assignment for the Cloudservices course at OAMK. 
			</p>
			<p>I experimented with React but got a bunch of failed tests with the page, so I'll keep this simple. Let's see what else I'll come up with. </p> 
		</main>
		<Footer />
	</body>
</html>
